{% extends 'users/base.html' %}
{% block content %}
    <h1>Change password for {{ user.username }}</h1>
    {% if user.is_authenticated %}
        <form class="" action="index.html" method="post">
            <div class="mb-3">
                <label for="oldpassword" class="form-label">Old Password</label>
                <input type="password" id="oldpassword" class="form-control">
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New password</label>
                <input type="password" id="newpassword" class="form-control">
            </div>
            <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm password</label>
                <input type="password" id="confirmpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        </form>
    {% else %}
        <p><a href="/login/">Log in</a> to visit this page.</p>
    {% endif %}
{% endblock %}
