{% extends 'users/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center">Manage registration links</h1>
        <div id="content" class="content">
            <table id="tokens_table" data-height="460" class="table table-striped table-boredered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="true" data-ajax="" data-show-refresh="true"
                   data-page-list="[5,10,25,50]" data-page-size="5" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="token" data-filter-control="input">Token</th>
                        <th data-sortable="true" data-field="date_created" data-filter-control="input">Date Created</th>
                        <th data-sortable="true" data-field="creator" data-filter-control="input">Creator</th>
                        <th data-sortable="true" data-field="active" data-filter-control="select">Active</th>
                        <th data-sortable="true" data-field="expiration_period" data-filter-control="input">Expiration Period</th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }


            function getTableData(params) {
                $.ajax({
                    url: 'get_table/',
                    datatype: 'json',
                    data: $.param(params.data) + "&table_type=" + $(this)[0].$el.attr("id"),
                    type: 'GET',
                    success: function (data) {
                        console.log(data)
                        params.success({
                            "rows": data["rows"],
                            "total": data["total"]
                        })
                    },
                    error: function (er) {
                        params.error(er);
                        console.log("Error while pulling data with the following parameters:  " + er)
                    }

                });
            }

            $(window).on('load', function () {
                $('.data-table').each(function () {
                    $(this).bootstrapTable({
                        onLoadSuccess: function () {
                            bindEditButton()
                            bindRemoveButton()
                        },

                    });
                })
            });

            let d1 = $.Deferred();
            let editing = false;

            function actionFormatter(i, row) {
                let html = []
                $.each(row, function (k, v) {
                    if (k === 'first_name') {
                        html.push('<button type="button" class="editbtn btn btn-primary edit" >Edit</button>')
                        html.push('<button type="button" class="deletebtn-funds btn btn-primary btn-danger ms-2" >Delete</button>')
                    }
                })
                d1.resolve();
                return html.join("")
            }

            function bindEditButton() {
                {#alert("Called")#}
                if (editing) return
                editing = true;
                $.when(d1).done(setTimeout(function () {
                    $('.editbtn').click(function () {
                        let $this = $(this);
                        let tds = $this.closest('tr').find('td').filter(function () {
                            return $(this).find('.editbtn').length === 0;
                        });
                        if ($this.html() === 'Edit') {
                            $this.html('Save');
                            $(tds[0]).css({"cursor": "not-allowed"})
                            tds = tds.slice(1)
                            tds.prop('contenteditable', true)
                            tds.closest("tr").css({
                                'border-top': '3px #6d8786 dashed',
                                'border-bottom': '3px #6d8786 dashed',
                                'color': '#000'
                            });
                            $this.parentsUntil("table").find('tr').not($($this.closest('tr'))).animate({opacity: 0.4}, 300);
                            $this.parentsUntil("table").find('button').not($($this.closest('button'))).attr("disabled", true);
                        } else {
                            $this.html('Edit');
                            $(tds[0]).css({"cursor": "text"})
                            tds.prop('contenteditable', false)
                            tds.closest("tr").css({
                                'border': "none",
                                'color': '#000'
                            });
                            $this.parentsUntil("table").find("tr").animate({opacity: 1}, 300);
                            $this.parentsUntil("table").find('button').attr("disabled", false);
                        }
                    });
                    editing = false;
                    d1 = $.Deferred();
                }, 500));
            }

            function bindRemoveButton() {
                $.when(d1).done(setTimeout(function () {
                    $('.deletebtn-funds').click(function () {
                        let r = confirm("You sure you want to delete this donation? This is irreversible...");
                        if (r !== true) return
                        let row_id = $(this).parentsUntil("tr").parent().find("td").first().text()
                        let row = $(this).parentsUntil("tr").parent()
                        console.log(row_id)
                        if (row_id == null) return;

                        $.ajax
                        ({
                            url: 'delete_fund/',
                            data: {"fund_id": row_id},
                            type: 'post',
                            headers: {
                                "X-CSRFToken": getCookie("csrftoken")
                            },
                            mode: "same-origin",
                            success: function (result) {
                                if ("error" in result) {
                                    alert(result["error"])
                                    $("#funds_table").bootstrapTable('refresh')
                                    return
                                }
                                row.remove()
                                alert("Deleted!")
                            },
                            error: function (textStatus, errorThrown) {
                                alert("Error deleting: " + textStatus);
                                {#TODO remove logs, only for debugging#}
                                console.log("Error deleting: " + textStatus)
                                console.log(errorThrown)
                            }
                        });
                    })
                }))
            };


            {#    Export #}
            let $table = $('#funds_table')

            $(function () {
                $('#toolbar').find('select').change(function () {
                    $table.bootstrapTable('destroy').bootstrapTable({
                        exportDataType: $(this).val(),
                        exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                        columns: [
                            {
                                //Rename columns
                                field: 'id',
                                title: 'ID'
                            }
                        ]
                    })
                }).trigger('change')
            })
        </script>
    {% else %}
        <p><a href="/login/">Log in</a> to visit this page.</p>
    {% endif %}
{% endblock %}
