{% extends 'users/base.html' %}
{% block content %}
    <!-- <h1>Settings</h1> -->
    {% if user.is_authenticated %}
        <!-- <p>Welcome to settings.</p>
        <p>Logged in as {{ user.username }}.</p> -->
        <!-- TODO: display roles here -->
        <!-- <p>Your role: $role</p> -->
        <div class="" role="navigation">
            <ul class="nav justify-content-left">
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'maketoken' %}">Create a new registration link</a>
                </li>

                <!-- TODO: build our own version of this page? -->
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users/registrationtoken">Manage existing registration links</a>
                </li>

                <!-- TODO: build this page -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage user roles</a>
                </li>

                <!-- TODO: decide whether or not to keep this one. -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Django admin page</a>
                </li>
                {% endif %}
                <!-- TODO: decide whether or not to make these -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Change password/email address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>

        <h1>Settings index</h1>
    {% else %}
        <p><a href="/login/">Log in</a> to visit this page.</p>
    {% endif %}
{% endblock %}
