
    <!-- TODO:  Finalize Y-Axis for Clothing, Food, Miscellaneous -->
    <!-- TODO: Connect to view to display actual donation data -->

    <!--
    <h3>Funds</h3>
    <div style="width:50%; height:65%;">
    <canvas id="fund-line-chart" width="300" height="260"></canvas>
    </div>

    <div style="width:50%; height:65%;">
    <h3>Gift Cards</h3>
    <canvas id="giftcard-line-chart" width="300" height="260"></canvas>
    </div>

    <div style="width:50%; height:65%;">
    <h3>Clothing</h3>
    <canvas id="clothing-line-chart" width="300" height="260"></canvas>
    </div>

    <div style="width:50%; height:65%;">
    <h3>Food</h3>
    <canvas id="food-line-chart" width="300" height="260"></canvas>
    </div>

    <div style="width:50%; height:65%;">
    <h3>Miscellaneous</h3>
    <canvas id="miscellaneous-line-chart" width="300" height="260"></canvas>
    </div>
    -->


    <div class="container">

          <div class="row">
            <div class="col-md-12">
                  <h3>Funds</h3>
                <canvas id="fund-line-chart"></canvas>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                  <h3>Gift Cards</h3>
                <canvas id="giftcard-line-chart"></canvas>
            </div>
          </div>

        <div class="row">
            <div class="col-md-12">
                  <h3>Clothing</h3>
                <canvas id="clothing-line-chart"></canvas>
            </div>
          </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Food</h3>
                <canvas id="food-line-chart"></canvas>
            </div>
          </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Miscellaneous</h3>
                <canvas id="miscellaneous-line-chart"></canvas>
            </div>
          </div>



    </div>



    <!-- Funds -->
    <script>
          new Chart(document.getElementById("fund-line-chart"), {
          type: 'line',
          data: {
            <!-- X-Axis Donation Received Dates -->
            labels: ['2021-03-01','2021-03-02','2021-03-03','2021-03-04','2021-03-05','2021-03-06'],
            datasets: [{
                <!-- Y-Axis Amount -->
                data: [50,75,50,100,40,60],
                label: "Funds",
                borderColor: "#3e95cd",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Fund Donations'
            },
            scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date Received'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Amount'
							}
						}]
					},
          }
        });

    </script>


     <!-- Gift Cards -->
    <script>

          new Chart(document.getElementById("giftcard-line-chart"), {
          type: 'line',
          data: {
            <!-- X-Axis Donation Received Dates -->
            labels: ['2021-03-01','2021-03-02','2021-03-03','2021-03-04','2021-03-05','2021-03-06'],
            datasets: [{
                 <!-- Y-Axis Amount -->
                data: [50,65,70,68,75,80],
                label: "Gift Cards",
                borderColor: "#8e5ea2",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Gift Card Donations'
            },
            scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date Received'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Amount'
							}
						}]
					},
          }
        });


    </script>

     <!-- Clothing -->
    <script>

          new Chart(document.getElementById("clothing-line-chart"), {
          type: 'line',
          data: {
            <!-- X-Axis Donation Received Dates -->
            labels: ['2021-03-01','2021-03-02','2021-03-03','2021-03-04','2021-03-05','2021-03-06'],
            datasets: [{
                 <!-- Y-Axis Type -->
                data: [2,4,5,3,6,5],
                label: "Clothing",
                borderColor: "#3cba9f",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Clothing Donations'
            },
            scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date Received'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Quantity'
							}
						}]
					},
          }
        });


    </script>


     <!-- Food -->
    <script>

          new Chart(document.getElementById("food-line-chart"), {
          type: 'line',
          data: {
            <!-- X-Axis Donation Received Dates -->
            labels: ['2021-03-01','2021-03-02','2021-03-03','2021-03-04','2021-03-05','2021-03-06'],
            datasets: [{
                 <!-- Y-Axis Quantity -->
                data: [20,35,40,50,60,80],
                label: "Food",
                borderColor: "#e8c3b9",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Food Donations'
            },
            scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date Received'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Quantity'
							}
						}]
					},
          }
        });


    </script>

     <!-- Miscellaneous -->
    <script>

          new Chart(document.getElementById("miscellaneous-line-chart"), {
          type: 'line',
          data: {
            <!-- X-Axis Donation Received Dates -->
            labels: ['2021-03-01','2021-03-02','2021-03-03','2021-03-04','2021-03-05','2021-03-06'],
            datasets: [{
                 <!-- Y-Axis Quantity -->
                data: [35,75,45,60,80,65],
                label: "Miscellaneous",
                borderColor: "#c45850",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: false,
              text: 'Miscellaneous Donations'
            },
            scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date Received'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Quantity'
							}
						}]
					},
          }
        });


    </script>