{% extends 'users/base.html' %}

{% block content %}
    <h1>Analytics Main page</h1>

     <form method="post" class="text-center">
        {% csrf_token %}

        {{ form }}

        <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Filter</button>
    </form>

    <div class="bd-example">
        {#TODO: allow multiple expanded chart#}
        {#TODO: add toggle all button#}
        {#TODO: add expoer functinality#}
        {#TODO: enhance styling#}
        <div class="accordion" id="accordionExample">
            {% include "analytics/linechart.html" %}
            {% include "analytics/piechart.html" %}

        </div>

    </div>

{% endblock %}