{% extends 'users/base.html' %}

{% load static %}

{% block content %}

    <!-- Includes styling for tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/raw_data.css' %}">
    <h1 class="text-center">Edit Donations</h1>
    <hr>
    <!-- search code -->
    <div class="container form-group" id="search">
        <div class="shadow p-5 mb-5 rounded border foreground-item">
            <div class="row center-text g-1">

                <div class="col text-center">
                    <label for="id_first_name">First name:</label>
                </div>

                <div class="col form-group">
                    <input class="form-control" type="text" name="first_name" maxlength="50" placeholder="First Name"
                           id="id_first_name">
                </div>

                <div class="col text-center">
                    <label for="id_last_name">Last name:</label>
                </div>

                <div class="col">
                    <input class="form-control" type="text" name="last_name" maxlength="50" placeholder="Last Name"
                           id="id_last_name">
                </div>
                <div class="col text-center">
                    <label for="pagesize">Number of Rows:</label>
                </div>

                <div class="col">
                    <select id="select-rows" name="pagesize" id="pagesize" class="form-control">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>

            <div class="row center-text g-1">
                <div class="col text-center">
                    <label for="id_donation_date_from">Donation Date From:</label>
                </div>
                <div class="col">
                    <input class="form-control" type="date" name="donation_date_from" placeholder="YYYY-MM-DD"
                           id="id_donation_date_from">
                </div>

                <div class="col text-center">
                    <label for="id_donation_date_to">Donation Date To:</label>
                </div>
                <div class="col">
                    <input class="form-control" type="date" name="donation_date_to" placeholder="YYYY-MM-DD"
                           id="id_donation_date_to">
                </div>
                <hr style="margin-top: 20px">
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-50 p-3 read"
                            onclick="submit_search_form()">Filter
                    </button>
                </div>
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary btn-lg center-block mt-3 mb-3 w-50 btn-danger border border-dark shadow"
                            onclick="exitExactSearchMode()">Clear
                    </button>
                </div>
                <!-- <div class="col">
                    <button id="export" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-50 p-3 read">Export
                    </button>
                </div> -->
            </div>
            <div class="text-center exact_search_msg"></div>
        </div>
    </div>

    <fieldset>
        <legend class="mb-2">Show Donation Types:</legend>
        <div class="row">
            <div class="col">
                <label for="all">Select All:</label>
                <input class="donation_select m-3" type="checkbox" id="all" name="all" value="All" checked>
            </div>

            <div class="col">
                <label for="fund">Funds:</label>
                <input class="donation_select m-3" type="checkbox" id="fund" name="fund" value="Funds" checked>
            </div>

            <div class="col">
                <label for="gift">Gift Cards:</label>
                <input class="donation_select m-3" type="checkbox" id="gift" name="gift" value="Gift" checked>
            </div>

            <div class="col">
                <label for="food">Food:</label>
                <input class="donation_select m-3" type="checkbox" id="food" name="food" value="Food" checked>
            </div>

            <div class="col">
                <label for="clothing">Clothing:</label>
                <input class="donation_select m-3" type="checkbox" id="clothing" name="clothing" value="Clothing"
                       checked>
            </div>

            <div class="col">
                <label for="misc">Miscellaneous:</label>
                <input class="donation_select m-3" type="checkbox" id="misc" name="misc" value="Misc" checked>
            </div>
        </div>
    </fieldset>
    <!-- end of search code -->

    <div class="alert alert-success fade in text-center hide" role="alert">
        <strong class="msg"> </strong>
    </div>

    <div id="content" class="content edit_donation">
        <div id="content" class="content raw_data">

            <div class="donation_table p-3 m-5">
                <h2 class="text-center">Funds</h2>
                <hr>
                <table id="funds_table" class="table table-striped table-bordered data-table"
                       data-sort-name="date_received" data-sort-order="desc"
                       data-custom-sort="datesSorter"
                       data-height="460"
                       data-search="true"
                       data-pagination="true"
                       data-advanced-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="false"
                       data-ajax="getTableData"
                       data-show-refresh="true"
                       data-escape="true"
                       data-page-list="[5,10, 25, 50]"
                       data-page-size="10"
                       data-side-pagination="server"
                       data-server-sort="false"
                       data-search-on-enter-key="true">
                    <thead class="fund_header">
                    <tr>
                        <!-- <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="false" style="display:none">
                            ID
                        </th> -->
                        <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="first_name" data-filter-control="input">First Name</th>
                        <th data-sortable="true" data-field="last_name" data-filter-control="input">Last Name</th>
                        <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                            data-filter-control="input">Date Received
                        </th>
                        <th data-sortable="true" data-field="sub_type" data-filter-control="select">Type</th>
                        <th data-sortable="true" data-field="amount" data-filter-control="input">Amount</th>
                        <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                        <th data-sortable="true" data-field="comments" data-filter-control="input"
                            class="text-capitalize">Comments
                        </th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="donation_table p-3 m-5">
                <h2 class="text-center">Gift Cards</h2>
                <hr>
                <table id="giftcards_table" class="table table-striped table-bordered data-table"
                       data-sort-name="date_received" data-sort-order="desc"
                       data-custom-sort="datesSorter"
                       data-height="460"
                       data-search="true"
                       data-pagination="true"
                       data-advanced-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="false"
                       data-ajax="getTableData"
                       data-show-refresh="true"
                       data-escape="true"
                       data-page-list="[5,10, 25, 50]"
                       data-page-size="10"
                       data-side-pagination="server"
                       data-server-sort="false"
                       data-search-on-enter-key="true">
                    <thead class="giftcard_header">
                    <tr>
                        <!-- <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="false" style="display:none">
                            ID
                        </th> -->
                        <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="first_name" data-filter-control="input">First Name</th>
                        <th data-sortable="true" data-field="last_name" data-filter-control="input">Last Name</th>
                        <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                            data-filter-control="input">Date Received
                        </th>
                        <th data-sortable="true" data-field="sub_type" data-filter-control="select">Type</th>
                        <th data-sortable="true" data-field="amount" data-filter-control="input">Amount</th>
                        <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                        <th data-sortable="true" data-field="comments" data-filter-control="input"
                            class="text-capitalize">Comments
                        </th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="donation_table p-3 m-5">
                <h2 class="text-center">Food</h2>
                <hr>
                <table id="foods_table" class="table table-striped table-bordered data-table"
                       data-sort-name="date_received" data-sort-order="desc"
                       data-custom-sort="datesSorter"
                       data-height="460"
                       data-search="true"
                       data-pagination="true"
                       data-advanced-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="false"
                       data-ajax="getTableData"
                       data-show-refresh="true"
                       data-escape="true"
                       data-page-list="[5,10, 25, 50]"
                       data-page-size="10"
                       data-side-pagination="server"
                       data-server-sort="false"
                       data-search-on-enter-key="true">
                    <thead class="food_header">
                    <tr>
                        <!-- <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="false" style="display:none">
                            ID
                        </th> -->
                        <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="first_name" data-filter-control="input"
                            class="text-capitalize">First Name
                        </th>
                        <th data-sortable="true" data-field="last_name" data-filter-control="input"
                            class="text-capitalize">Last Name
                        </th>
                        <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                            data-filter-control="input">Date Received
                        </th>
                        <th data-sortable="true" data-field="sub_type" data-filter-control="select"
                            class="text-capitalize">Type
                        </th>
                        <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                        <th data-sortable="true" data-field="comments" data-filter-control="input"
                            class="text-capitalize">Comments
                        </th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="donation_table p-3 m-5">
                <h2 class="text-center">Clothing</h2>
                <hr>
                <table id="clothing_table" class="table table-striped table-bordered data-table"
                       data-sort-name="date_received" data-sort-order="desc"
                       data-custom-sort="datesSorter"
                       data-height="460"
                       data-search="true"
                       data-pagination="true"
                       data-advanced-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="false"
                       data-ajax="getTableData"
                       data-show-refresh="true"
                       data-escape="true"
                       data-page-list="[5,10, 25, 50]"
                       data-page-size="10"
                       data-side-pagination="server"
                       data-server-sort="false"
                       data-search-on-enter-key="true">
                    <thead class="clothing_header">
                    <tr>
                        <!-- <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="false" style="display:none">
                            ID
                        </th> -->
                        <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="first_name" data-filter-control="input"
                            class="text-capitalize">First Name
                        </th>
                        <th data-sortable="true" data-field="last_name" data-filter-control="input"
                            class="text-capitalize">Last Name
                        </th>
                        <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                            data-filter-control="input">Date Received
                        </th>
                        <th data-sortable="true" data-field="sub_type" data-filter-control="select"
                            class="text-capitalize">Type
                        </th>
                        <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                        <th data-sortable="true" data-field="comments" data-filter-control="input"
                            class="text-capitalize">Comments
                        </th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>

                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="donation_table p-3 m-5">

                <h2 class="text-center">Miscellaneous</h2>
                <hr>
                <table id="misc_table" class="table table-striped table-bordered data-table"
                       data-sort-name="date_received" data-sort-order="desc"
                       data-custom-sort="datesSorter"
                       data-height="460"
                       data-search="true"
                       data-pagination="true"
                       data-advanced-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-export="false"
                       data-ajax="getTableData"
                       data-show-refresh="true"
                       data-escape="true"
                       data-page-list="[5,10, 25, 50]"
                       data-page-size="10"
                       data-side-pagination="server"
                       data-server-sort="false"
                       data-search-on-enter-key="true">
                    <thead class="misc_header">
                    <tr>
                        <!-- <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="false" style="display:none">
                            ID
                        </th> -->
                        <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                        <th data-sortable="true" data-field="first_name" data-filter-control="input"
                            class="text-capitalize">First Name
                        </th>
                        <th data-sortable="true" data-field="last_name" data-filter-control="input"
                            class="text-capitalize">Last Name
                        </th>
                        <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                            data-filter-control="input">Date Received
                        </th>
                        <th data-sortable="true" data-field="sub_type" data-filter-control="select"
                            class="text-capitalize">Type
                        </th>
                        <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                        <th data-sortable="true" data-field="comments" data-filter-control="input"
                            class="text-capitalize">Comments
                        </th>
                        <th data-field="action" data-formatter="actionFormatter">Action</th>

                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="display: none" id="item_form">
        {{ item_form.type }}
    </div>
    <div style="display: none" id="funds_types">
        {{ funds_form_types.type }}
    </div>
    <div style="display: none" id="businesses">
        {{ item_form.sub_type_business }}
    </div>
    <div style="display: none" id="clothing_types">
        {{ item_form.sub_type_clothing }}
    </div>
    <div style="display: none" id="food_types">
        {{ item_form.sub_type_name }}
    </div>
    <div style="display: none" id="misc_types">
        {{ item_form.sub_type_name }}
    </div>
    <script>
        let FUNDS_TYPES = $("#funds_types").children().last();
        let BUSINESSES = $("#businesses").children().last();
        let CLOTHING_TYPES = $("#clothing_types").children().last();
        let FOOD_TYPES = $("#food_types").children().last();
        let MISC_TYPES = $("#misc_types").children().last();

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let tables_data = {};

        // search code
        let exactSearchOn = false;

        function bindToolTip() {
            $(function () {
                // Tooltip Initializations
                ToolTipStyling = function () {
                    $('.tool-tip,[data-toggle="tooltip"]').tooltip({
                        container: 'body',
                        animation: true,
                        delay: {
                            show: 100,
                            hide: 100
                        }
                    });
                };

                ToolTipStyling();

                $('table').on('post-body.bs.table', function () {
                    ToolTipStyling();
                });

                tooltipTitleSetter = function (that) {
                    return $(that).val() === "" ? ' ' : $(that).val();
                };
            });

            $('textarea.tool-tip').hover(function () {
                $(this).attr("title", tooltipTitleSetter(this))
                    .tooltip('fixTitle');
            });
        }


        function datesSorter(sortName, sortOrder, data) {
            let order = sortOrder === 'desc' ? -1 : 1
            data.sort(function (a, b) {
                {#console.log(sortName)#}
                let aa = a[sortName]
                let bb = b[sortName]
                return datesSorter_(aa, bb, order);
            })
        }

        var isDate = function (date) {
            {# FORMAT: 2021-04-08 #}
            return /^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))/.test(date)
            {#return (new Date(date) != "Invalid Date") && !isNaN(new Date(date));#}
        }

        function isNumeric(str) {
            if (typeof str == "number") return true;
            else if (typeof str != "string") return false // we only process strings!
            return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
        }

        function datesSorter_(a, b, order) {
            if (isDate(a)) {
                {#console.log("DATE")#}
                if (new Date(a) < new Date(b)) return order * -1;
                if (new Date(a) > new Date(b)) return order;
                return 0;
            } else if (isNumeric(a)) {
                {#console.log("NUMBER")#}
                {#console.log(Math.sign(a - b))#}
                return Math.sign(a - b) * order;
            } else {
                if (a < b) return order * -1;
                if (a > b) return order;
                return 0;
            }
        }

        function getClosure($this) {
            const exact = {
                "exact": {},
                "table_type": $this.attr("id"),
                "limit": $("#select-rows").val() - 0,
                "offset": 0,
                "order": undefined,
                "search": "",
                "sort": undefined
            }

            if ($("#id_first_name").val() !== "")
                exact["exact"]["first_name"] = $("#id_first_name").val()
            if ($("#id_last_name").val() !== "")
                exact["exact"]["last_name"] = $("#id_last_name").val()
            if ($("#id_donation_date_from").val() !== "")
                exact["exact"]["date_received_from"] = $("#id_donation_date_from").val()
            if ($("#id_donation_date_to").val() !== "")
                exact["exact"]["date_received_to"] = $("#id_donation_date_to").val()
            return exact;
        }

        function exitExactSearchMode() {
            exactSearchOn = false;
            $("#search input").each(function () {
                $(this).val('')
            })
            $("#select-rows").val("10")
            $(".exact_search_msg").text("")
            $('.data-table').each(function () {
                if ($(this).attr("id") !== undefined) {
                    $($(this).parentsUntil(".donation_table")).find(".search").attr("title", "")
                    $(this).bootstrapTable('refresh')
                }
            })
            $(".search input").prop("disabled", false)
        }

        function getBulkSearchResult($this, page = null) {
            const $thisTable = $this
            const exact = getClosure($this)

            {#console.log(exact)#}
            $.ajax({
                url: 'get_table/',
                datatype: 'json',
                data: {"exact": JSON.stringify(exact)},
                type: 'GET',
                success: function (data) {
                    if (page != null) return data
                    // $thisTable.bootstrapTable('removeAll') // doesnt work
                    $thisTable.bootstrapTable('load', {
                        "rows": data["rows"],
                        "total": data["total"]
                    })
                    $thisTable.bootstrapTable('refresh')
                    console.log("LOADED DATA")
                },
                error: function (er) {
                    console.log("ERROR!436")
                    {#params.error(er);#}
                    console.log("Error while pulling data with the following parameters:  " + er)
                }
            });
        }

        function submit_search_form(o = null) {
            {# TODO add some checks data and strings/names #}
            if (($("#id_last_name").val() === "" && $("#id_first_name").val() === "")) {
                console.log("EMPTY NAME")
                if (($("#id_donation_date_from").val() === "" || $("#id_donation_date_to").val() === "")) {
                    console.log("EMPTY DATE")
                    return 0;
                }
            }
            console.log("YEEEEEEEEs")

            exactSearchOn = true;
            $(".exact_search_msg").text("Exact Search Mode On")
            $(".search input").prop("disabled", true)
            $('.data-table').each(function () {
                if ($(this).attr("id") !== undefined) {
                    $($(this).parentsUntil(".donation_table")).find(".search").attr("title", "Individual search is disabled. Click Clear to on top to enable this box")
                    getBulkSearchResult($(this)) // here
                } else {
                }
            })
        }
        // end of search code

        function getTableData(params) {
            let table_type, parameters = ""
            if (exactSearchOn){
                const $this = $("#" + $(this)[0].$el.attr("id"))
                const exact = getClosure($this)
                exact["offset"] = params.data.offset;
                parameters = {"exact": JSON.stringify(exact)}
            } else{
                if ("exact" in params)
                    table_type = params["table_type"]
                else
                    table_type = $(this)[0].$el.attr("id")

                parameters = $.param(params.data) + "&table_type=" + table_type
            }

            $.ajax({
                url: 'get_table/',
                datatype: 'json',
                // ns
                data: parameters,
                // data: $.param(params.data) + "&table_type=" + table_type,
                type: 'GET',
                success: function (data) {
                    console.log(table_type)
                    console.log(data)
                    tables_data[table_type] = data["rows"]
                    params.success({
                        "rows": data["rows"],
                        "total": data["total"]
                    })
                    return data;
                },
                error: function (er) {
                    params.error(er);
                    console.log("Error while pulling data with the following parameters:  " + er)
                }

            });
        }

        // updateds the tables whenever a search/sort/etc is done
        $(window).on('load', function () {
            $('.data-table').each(function () {
                let table = $(this)
                let table_type = $(this).attr("id")
                $(table).bootstrapTable({
                    onPostBody(data) {
                        // update the actual contents of the tables
                        tables_data[table_type] = data // seems to work!
                        // bind/rebind the buttons
                        bindEditButton(table_type)
                        bindRemoveButton(table_type)
                        // add a tooltip or something?
                        $($(table).parentsUntil(".donation_table")).find(".search").addClass("tool-tip")
                    }
                });
            })
        })


        let editing = false;

        function actionFormatter(i, row) {
            let html = []
            $.each(row, function (k, v) {
                if (k === 'first_name') {
                    html.push('<button type="button" class="editbtn btn btn-primary edit" >Edit</button>')
                    html.push('<button type="button" class="deletebtn-funds btn btn-primary btn-danger ms-2" >Delete</button>')
                }
            })
            return html.join("")
        }


        let oldValuesBeforeEdit = []


        function bindEditButton(table_type) {
            if (editing) return
            editing = true;
            $("#" + table_type + " .editbtn").click(function () {
                let $this = $(this);
                let $row = $this.parents("tr")
                let tds = $this.closest('tr').find('td')
                tds.last().children().last().html("Cancel")
                tds.splice(-1, 1)

                if ($this.html() === 'Edit') {
                    $this.html('Save');
                    {# First 3 columns are uneditable #}
                    $(tds.slice(0, 3)).css({"cursor": "not-allowed"})
                    tds = tds.slice(3)


                    oldValuesBeforeEdit = [];
                    {# We're handling td's instead of the whole tr since the buttons are already binded to the actions#}
                    tds.map(function (i, e) {
                        oldValuesBeforeEdit.push($(e).prop('outerHTML'))
                    })

                    $(tds[0]).html($("<input type=\"date\" style='padding: 0' name=\"date_received\" class=\"form-control\" required id=\"id_date_received\">").val(moment($(tds[0]).html(), 'MM/DD/YYYY').format('yyyy-MM-DD')))
                    if (table_type === "funds_table"){
                        $(tds[1]).html(FUNDS_TYPES.val($(tds[1]).html()))
                    } else if (table_type === "giftcards_table"){
                        $(tds[1]).html(BUSINESSES.val($(tds[1]).html()))
                    } else if (table_type === "foods_table"){
                        $(tds[1]).html(FOOD_TYPES.val($(tds[1]).html()))
                    } else if (table_type === "clothing_table"){
                        $(tds[1]).html(CLOTHING_TYPES.val($(tds[1]).html()))
                    } else if (table_type === "misc_table"){
                        $(tds[1]).html(MISC_TYPES.val($(tds[1]).html()))
                    }

                    if (table_type === "funds_table" || table_type === "giftcards_table"){
                        $(tds[2]).html($("<input type=\"number\" min=\"0\" max=\"1000\" style=\"padding: 0;\" class=\"form-control\">").val($(tds[2]).html()))
                        $(tds[3]).html($("<input type=\"number\" min=\"0\" max=\"1000\" style=\"padding: 0;\" class=\"form-control\">").val($(tds[3]).html()))
                        $(tds[4]).html($("<input type=\"text\" style=\"padding: 0;\" class=\"form-control\">").val($(tds[4]).html()))
                    } else{
                        $(tds[2]).html($("<input type=\"number\" min=\"0\" max=\"1000\" style=\"padding: 0;\" class=\"form-control\">").val($(tds[2]).html()))
                        $(tds[3]).html($("<input type=\"text\" style=\"padding: 0;\" class=\"form-control\">").val($(tds[3]).html()))
                    }

                    {#tds.prop('contenteditable', true)#}
                    tds.closest("tr").css({
                        'border-top': '3px #6d8786 dashed',
                        'border-bottom': '3px #6d8786 dashed',
                        'color': '#000'
                    });
                    $this.parentsUntil("table").find('tr').not($($this.closest('tr'))).animate({opacity: 0.4}, 300);
                    {#$this.parentsUntil("table").find('button').not($($this.closest('button'))).attr("disabled", true);#}
                } else {

                    let table_type = $(this).parents(".table").attr('id')
                    let row_index = $row.attr("data-index")
                    edit_donation(row_index, table_type, $row, $this)
                }
            });
            editing = false;
        }


        function exitEditRowMode($this) {
            let tds = $this.closest('tr').find('td')
            let buttons = tds.last().children()
            $(buttons[0]).html('Edit');
            $(buttons[1]).html('Delete');

            tds.splice(-1, 1)
            $(tds.slice(0, 3)).css({"cursor": "auto"})

            {#tds.prop('contenteditable', false)#}
            tds.closest("tr").css({
                'border': "none",
                'color': '#000'
            });
            $this.parentsUntil("table").find("tr").animate({opacity: 1}, 300);
            {#$this.parentsUntil("table").find('button').attr("disabled", false);#}

            {# Set the cell to the date was selected and remove the input element #}
            $(tds[3]).html(dateFormat($(tds[3]).children().last().val(), 'MM/DD/YYYY'))
            // tds = tds.splice(3);
            console.log(tds)
            $(tds).each(function (i) {
                $(this).html($(this).children().last().val())
            })
        }

        const tables_keys = {
                "funds_table": ["first_name", "last_name", "date_received", "sub_type", "amount", "quantity", "comments"],
            "giftcards_table": ["first_name", "last_name", "date_received", "sub_type", "amount", "quantity", "comments"],
                "foods_table": ["first_name", "last_name", "date_received", "sub_type", "quantity", "comments"],
             "clothing_table": ["first_name", "last_name", "date_received", "sub_type", "quantity", "comments"],
                 "misc_table": ["first_name", "last_name", "date_received", "sub_type", "quantity", "comments"],
        };

        function edit_donation(row_index, table_type, $row, $this) {
            let old_data = tables_data[table_type][row_index]
            let keys = tables_keys[table_type]
            {# Remove the actions column #}
            let columns = $row.find("td").slice(1, -1)
            console.log(columns)
            console.log(old_data)

            let new_data = old_data
            columns.each(function (i) {
                console.log($(this).children().last().val())
                let cellChild = $(this).children()
                if (cellChild.length > 0)
                    new_data[keys[i]] = $(this).children().last().val()
                else
                    new_data[keys[i]] = $(this).html()
            })

            $("body").css("cursor", "wait")

            $.ajax({
                url: 'update_item/',
                datatype: 'json',
                data: {"table_type": table_type, "update_data": JSON.stringify(new_data)},
                type: 'POST',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                success: function (resp) {
                    console.log(resp)
                    console.log("SAVED")
                    tables_data[table_type][row_index] = new_data;
                    $(".alert").addClass("alert-success").hide().removeClass("alert-danger hide").slideDown(300)
                    $(".alert .msg").html("Record was updated successfully.")
                    exitEditRowMode($this);
                    $("#" + table_type).bootstrapTable("refresh");
                    $("body").css("cursor", "auto")
                    setTimeout(
                        function () {
                            $(".alert").slideUp(300)
                        }, 3000);
                },
                error: function (er) {
                    console.log(JSON.stringify(er))
                    console.log("Error while saving:  " + er.responseJSON.error)
                    $(".alert").addClass("alert-danger").hide().removeClass("alert-success hide").slideDown(300)
                    $(".alert .msg").html("Error while updating record. " + er.responseJSON.error)
                    $("body").css("cursor", "auto")
                    setTimeout(
                        function () {
                            $(".alert").slideUp(300)
                        }, 6000);
                }
            });
        }

        function bindRemoveButton(table_type) {
            $("#" + table_type + " .deletebtn-funds").click(function () {
                let tds = $(this).closest('tr').find('td')
                tds = tds.slice(3)
                {#tds.splice(-1, 1)#}

                if ($(this).html() === "Cancel") {
                    $("body").css("cursor", "auto")
                    tds.map(function (i, e) {
                        $(tds[i]).html($(oldValuesBeforeEdit[i]).html())
                    })
                    oldValuesBeforeEdit = []
                    exitEditRowMode($(this))
                    return;
                }


                if (!confirm("You sure you want to delete this donation? This is irreversible...")) return
                let row_id = $(this).parentsUntil("tr").parent().find("td").first().text()
                let row = $(this).parentsUntil("tr").parent()
                let table_type = $(this).parents(".table").attr('id')
                console.log(row_id)
                console.log(table_type)
                if (row_id == null) return;
                {#return;#}
                $.ajax
                ({
                    url: 'delete_item/',
                    data: {"item_id": row_id, "table_type": table_type},
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    mode: "same-origin",
                    success: function (result) {
                        console.log(result)
                        console.log("successfully deleted from " + table_type)
                        row.remove()
                        alert("Deleted!")
                        $("#" + table_type).bootstrapTable('refresh')
                    },
                    error: function (textStatus, errorThrown) {
                        alert("Error deleting: " + textStatus);
                        {#TODO remove logs, only for debugging#}
                        console.log("Error deleting: " + textStatus)
                        console.log(errorThrown)
                    }
                });
            })
        }

        function dateFormat(value, row, index) {
            return moment(value).format('MM/DD/YYYY');
        }
    </script>

    <!-- ns -->
    <script type="text/javascript">
        $(document).ready(function () {
            let tablesData = ['funds_table', 'giftcards_table', 'clothing_table', 'foods_table', 'misc_table']
            var numberTablesShown = 5;

            $('#fund').change(function () {
                if (this.checked === true) {
                    $('#funds_table').parents(".donation_table").slideDown(300);
                    numberTablesShown++
                    if (numberTablesShown == 5) $('#all').prop('checked', true);
                    tablesData.push('funds_table')
                } else {
                    $('#funds_table').parents(".donation_table").slideUp(300);
                    var index = tablesData.indexOf('funds_table')
                    tablesData.splice(index, 1)
                    numberTablesShown--
                    $('#all').prop('checked', false);
                }
            });

            $('#gift').change(function () {
                if (this.checked === true) {
                    $('#giftcards_table').parents(".donation_table").slideDown(300);
                    numberTablesShown++
                    if (numberTablesShown == 5) $('#all').prop('checked', true);
                    tablesData.push('giftcards_table')
                } else {
                    $('#giftcards_table').parents(".donation_table").slideUp(300);
                    var index = tablesData.indexOf('giftcards_table')
                    tablesData.splice(index, 1)
                    numberTablesShown--
                    $('#all').prop('checked', false);
                }
            });

            $('#clothing').change(function () {
                if (this.checked === true) {
                    $('#clothing_table').parents(".donation_table").slideDown(300);
                    numberTablesShown++
                    if (numberTablesShown == 5) $('#all').prop('checked', true);
                    tablesData.push('clothing_table')
                } else {
                    $('#clothing_table').parents(".donation_table").slideUp(300);
                    var index = tablesData.indexOf('clothing_table')
                    tablesData.splice(index, 1)
                    numberTablesShown--
                    $('#all').prop('checked', false);
                }
            });

            $('#food').change(function () {
                if (this.checked === true) {
                    $('#foods_table').parents(".donation_table").slideDown(300);
                    numberTablesShown++
                    if (numberTablesShown == 5) $('#all').prop('checked', true);
                    tablesData.push('foods_table')
                } else {
                    $('#foods_table').parents(".donation_table").slideUp(300);
                    var index = tablesData.indexOf('foods_table')
                    tablesData.splice(index, 1)
                    numberTablesShown--
                    $('#all').prop('checked', false);
                }
            });

            $('#misc').change(function () {
                if (this.checked === true) {
                    $('#misc_table').parents(".donation_table").slideDown(300);
                    numberTablesShown++
                    if (numberTablesShown == 5) $('#all').prop('checked', true);
                    tablesData.push('misc_table')
                } else {
                    $('#misc_table').parents(".donation_table").slideUp(300);
                    var index = tablesData.indexOf('misc_table')
                    tablesData.splice(index, 1)
                    numberTablesShown--
                    $('#all').prop('checked', false);
                }
            });

            $('#all').change(function () {
                if (this.checked === true) {
                    $('table').parents(".donation_table").slideDown(300);
                    numberTablesShown = 5
                    $("input[type=checkbox].donation_select").prop('checked', true);
                    tablesData.push('funds_table')
                    tablesData.push('giftcards_table')
                    tablesData.push('clothing_table')
                    tablesData.push('foods_table')
                    tablesData.push('misc_table')
                } else {
                    {#$('h3').slideUp(300);#}
                    $('table').parents(".donation_table").slideUp(300);
                    $("input[type=checkbox].donation_select").prop('checked', false);
                    tablesData = []
                    numberTablesShown = 0
                }
            });

            // Handles export feature
            $('#export').click(function (e) {
                const exact = {}
                if ($("#id_first_name").val() !== "")
                    exact.first_name = $("#id_first_name").val()
                if ($("#id_last_name").val() !== "")
                    exact.last_name = $("#id_last_name").val()
                if ($("#id_donation_date_from").val() !== "")
                    exact.date_from = $("#id_donation_date_from").val()
                if ($("#id_donation_date_to").val() !== "")
                    exact.date_to = $("#id_donation_date_to").val()

                const exportParams = {exact: exact, tables_selected: tablesData}

                $.ajax({
                    url: 'download_my_file/',
                    datatype: 'json',
                    data: {"data": JSON.stringify(exportParams)},
                    type: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = 'test.xls';
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                    },
                    error: function (er) {
                        console.log(er)
                    }
                });
            });

        })
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>

{% endblock %}
