{% extends 'users/base.html'%}



{% block content%}


    <form method="post">
        {%csrf_token%}

        {{form}}

        <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Filter</button>

    </form>


            {% if filter_type == 'all' %}
                 <h1 class="mb-5 mt-5 text-center"> All Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Funds</h3>


                 <table id="fundtable" class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for fund in funds %}
                            <tr>
                                <td>{{fund.first_name}}</td>
                                <td>{{fund.last_name}}</td>
                                <td>{{fund.date_received}}</td>
                                <td>{{fund.type}}</td>
                                <td>${{fund.amount}}</td>
                                <td>{{fund.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>


                 <h3 class ="mb-3 mt -5 tex-left">Gift Cards</h3>

                 <table id="giftcardtable" class="table table-striped table-bordered" style="width:100%">


                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Business Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for giftcard in giftcards %}
                            <tr>
                                <td>{{giftcard.first_name}}</td>
                                <td>{{giftcard.last_name}}</td>
                                <td>{{giftcard.date_received}}</td>
                                <td>{{giftcard.business_name}}</td>
                                <td>${{giftcard.amount}}</td>
                                <td>{{giftcard.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Business Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>


                 <h3 class ="mb-3 mt -5 tex-left">Clothing</h3>

                 <table id="clothingtable" class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for cloth in clothing %}
                            <tr>
                                <td>{{clothing.first_name}}</td>
                                <td>{{clothing.last_name}}</td>
                                <td>{{clothing.date_received}}</td>
                                <td>{{clothing.type}}</td>
                                <td>{{clothing.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>


                 <h3 class ="mb-3 mt -5 tex-left">Foods</h3>

                 <table id="foodtable" class="table table-striped table-bordered" style="width:100%">


                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for food in foods %}
                            <tr>
                                <td>{{food.first_name}}</td>
                                <td>{{food.last_name}}</td>
                                <td>{{food.date_received}}</td>
                                <td>{{food.name}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>



                 <h3 class ="mb-3 mt -5 tex-left">Miscellaneous</h3>

                 <table id="miscellaneoustable" class="table table-striped table-bordered" style="width:100%">


                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for misc in miscellaneous %}
                            <tr>
                                <td>{{misc.first_name}}</td>
                                <td>{{misc.last_name}}</td>
                                <td>{{misc.date_received}}</td>
                                <td>{{misc.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>
            {%elif filter_type == "fund" %}

                 <h1 class="mb-5 mt-5 text-center"> Fund Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Funds</h3>

                <table class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for fund in funds %}
                            <tr>
                                <td>{{fund.first_name}}</td>
                                <td>{{fund.last_name}}</td>
                                <td>{{fund.date_received}}</td>
                                <td>{{fund.type}}</td>
                                <td>${{fund.amount}}</td>
                                <td>{{fund.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>
            {%elif filter_type == "giftcard" %}

                 <h1 class="mb-5 mt-5 text-center"> Giftcard Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Giftcards</h3>

                <table class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Business Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for giftcard in giftcards %}
                            <tr>
                                <td>{{giftcard.first_name}}</td>
                                <td>{{giftcard.last_name}}</td>
                                <td>{{giftcard.date_received}}</td>
                                <td>{{giftcard.business_name}}</td>
                                <td>${{giftcard.amount}}</td>
                                <td>{{giftcard.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Business Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>
             {%elif filter_type == "clothing" %}

                 <h1 class="mb-5 mt-5 text-center"> Clothing Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Clothing </h3>

                <table class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cloth in clothing %}
                            <tr>
                                <td>{{cloth.first_name}}</td>
                                <td>{{cloth.last_name}}</td>
                                <td>{{cloth.date_received}}</td>
                                <td>{{cloth.type}}</td>
                                <td>{{cloth.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>
            {%elif filter_type == "misc" %}

                 <h1 class="mb-5 mt-5 text-center"> Miscellaneous Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Miscellaneous </h3>

                <table class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for misc in miscellaneous %}
                            <tr>
                                <td>{{misc.first_name}}</td>
                                <td>{{misc.last_name}}</td>
                                <td>{{misc.date_received}}</td>
                                <td>{{misc.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>
            {%elif filter_type == 'food' %}

                 <h1 class="mb-5 mt-5 text-center"> Food Donations</h1>

                 <h3 class ="mb-3 mt -5 tex-left"> Food </h3>

                <table class="table table-striped table-bordered" style="width:100%">

                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for food in foods %}
                            <tr>
                                <td>{{food.first_name}}</td>
                                <td>{{food.last_name}}</td>
                                <td>{{food.date_received}}</td>
                                <td>{{food.name}}</td>
                                <td>{{food.quantity}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date Received</th>
                                <th>Name</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>
                 </table>


            {% endif %}


{% endblock %}