{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'raw_data.css' %}">

    <div class="shadow p-3 mb-5 rounded border foreground-item">
        <form method="post" class="text-center">
            {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25 p-3 read">Filter
                    </button>
                </div>
                <div class="col">
                    <button id="export" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25 p-3 read">Export
                    </button>
                </div>

            </div>
        </form>
    </div>

    <form>
        <fieldset>

            <legend class="mb-2">Show Donation Types:</legend>
            <div class="row">
                <div class="col">
                    <label for="all">Select All:</label>
                    <input class="donation_select m-3" type="checkbox" id="all" name="all" value="All" checked>
                </div>


                <div class="col">
                    <label for="fund">Funds:</label>
                    <input class="donation_select m-3" type="checkbox" id="fund" name="fund" value="Funds" checked>
                </div>

                <div class="col">
                    <label for="gift">Gift Cards:</label>
                    <input class="donation_select m-3" type="checkbox" id="gift" name="gift" value="Gift" checked>
                </div>

                <div class="col">
                    <label for="clothing">Clothing:</label>
                    <input class="donation_select m-3" type="checkbox" id="clothing" name="clothing" value="Clothing"
                           checked>
                </div>

                <div class="col">
                    <label for="food">Food:</label>
                    <input class="donation_select m-3" type="checkbox" id="food" name="food" value="Food" checked>
                </div>

                <div class="col">
                    <label for="misc">Miscellaneous:</label>
                    <input class="donation_select m-3" type="checkbox" id="misc" name="misc" value="Misc" checked>
                </div>
            </div>

        </fieldset>
    </form>


    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <div id="content" class="content raw_data mt-5">


        <div class="donation_table p-3 m-5">
            <h2 class="text-center">Funds</h2>
            <hr>
            <table id="funds_table" data-height="460" class="table table-striped table-bordered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="false" data-ajax="getTableData" data-show-refresh="true"
                   data-page-list="[5,10, 25, 50]" data-page-size="10" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead class="fund_header">
                <tr>
                    <th data-sortable="true" data-field="item_id" data-filter-control="input">id</th>
                    <th data-sortable="true" data-field="first_name" data-filter-control="input">First Name</th>
                    <th data-sortable="true" data-field="last_name" data-filter-control="input">Last Name</th>
                    <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                        data-filter-control="input">Date Received
                    </th>
                    <th data-sortable="true" data-field="sub_type" data-filter-control="select">Type</th>
                    <th data-sortable="true" data-field="amount" data-filter-control="input">Amount</th>
                    <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                    <th data-sortable="true" data-field="comments" data-filter-control="input" class="text-capitalize">
                        Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="donation_table p-3 m-5">
            <h2 class="text-center">Gift Cards</h2>
            <hr>
            <table id="giftcards_table" data-height="460" class="table table-striped table-bordered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="false" data-ajax="getTableData" data-show-refresh="true"
                   data-page-list="[5,10, 25, 50]" data-page-size="10" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead class="giftcard_header">
                <tr>
                    <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="true">id
                    </th>
                    <th data-sortable="true" data-field="first_name" data-filter-control="input">First Name</th>
                    <th data-sortable="true" data-field="last_name" data-filter-control="input">Last Name</th>
                    <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                        data-filter-control="input">Date Received
                    </th>
                    <th data-sortable="true" data-field="sub_type" data-filter-control="select">Type</th>
                    <th data-sortable="true" data-field="amount" data-filter-control="input">Amount</th>
                    <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                    <th data-sortable="true" data-field="comments" data-filter-control="input" class="text-capitalize">
                        Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="donation_table p-3 m-5">
            <h2 class="text-center">Food</h2>
            <hr>
            <table id="foods_table" data-height="460" class="table table-striped table-bordered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="false" data-ajax="getTableData" data-show-refresh="true"
                   data-page-list="[5,10, 25, 50]" data-page-size="10" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead class="food_header">
                <tr>
                    <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="true">ID
                    </th>
                    <th data-sortable="true" data-field="first_name" data-filter-control="input"
                        class="text-capitalize">First Name
                    </th>
                    <th data-sortable="true" data-field="last_name" data-filter-control="input" class="text-capitalize">
                        Last Name
                    </th>
                    <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                        data-filter-control="input">Date Received
                    </th>
                    <th data-sortable="true" data-field="sub_type" data-filter-control="select" class="text-capitalize">
                        Type
                    </th>
                    <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                    <th data-sortable="true" data-field="comments" data-filter-control="input" class="text-capitalize">
                        Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="donation_table p-3 m-5">
            <h2 class="text-center">Clothing</h2>
            <hr>
            <table id="clothing_table" data-height="460" class="table table-striped table-bordered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="false" data-ajax="getTableData" data-show-refresh="true"
                   data-page-list="[5,10, 25, 50]" data-page-size="10" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead class="clothing_header">
                <tr>
                    <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="true">ID
                    </th>
                    <th data-sortable="true" data-field="first_name" data-filter-control="input"
                        class="text-capitalize">First Name
                    </th>
                    <th data-sortable="true" data-field="last_name" data-filter-control="input" class="text-capitalize">
                        Last Name
                    </th>
                    <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                        data-filter-control="input">Date Received
                    </th>
                    <th data-sortable="true" data-field="sub_type" data-filter-control="select" class="text-capitalize">
                        Type
                    </th>
                    <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                    <th data-sortable="true" data-field="comments" data-filter-control="input" class="text-capitalize">
                        Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="donation_table m-5 p-3">
            <h2 class="text-center">Miscellaneous</h2>
            <hr>
            <table id="misc_table" data-height="460" class="table table-striped table-bordered data-table"
                   data-search="true" data-pagination="true" data-advanced-search="true" data-show-toggle="true"
                   data-show-columns="true" data-show-export="false" data-ajax="getTableData" data-show-refresh="true"
                   data-page-list="[5,10, 25, 50]" data-page-size="10" data-side-pagination="server"
                   data-search-on-enter-key="true">
                <thead class="misc_header">
                <tr>
                    <th data-sortable="true" data-field="item_id" data-filter-control="input" data-visible="true">ID
                    </th>
                    <th data-sortable="true" data-field="first_name" data-filter-control="input"
                        class="text-capitalize">First Name
                    </th>
                    <th data-sortable="true" data-field="last_name" data-filter-control="input" class="text-capitalize">
                        Last Name
                    </th>
                    <th data-sortable="true" data-field="date_received" data-formatter="dateFormat"
                        data-filter-control="input">Date Received
                    </th>
                    <th data-sortable="true" data-field="sub_type" data-filter-control="select" class="text-capitalize">
                        Type
                    </th>
                    <th data-sortable="true" data-field="quantity" data-filter-control="input">Quantity</th>
                    <th data-sortable="true" data-field="comments" data-filter-control="input" class="text-capitalize">
                        Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>




    <script>
        function getTableData(params) {
            $.ajax({
                url: 'get_table/',
                datatype: 'json',
                data: $.param(params.data) + "&table_type=" + $(this)[0].$el.attr("id"),
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    params.success({
                        "rows": data["rows"],
                        "total": data["total"]
                    })
                },
                error: function (er) {
                    params.error(er);
                    console.log("Error while pulling data with the following parameters:  " + er)
                }

            });
        }

        $(window).on('load', function () {
            $('.data-table').each(function () {
                $(this).bootstrapTable({});
            })
        });

    </script>




    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

    <script type="text/javascript">


        $(document).ready(function () {

            let tablesData = [[], [], [], [], []]


            $('#fund').change(function () {
                if (this.checked === true) {
                    $('#funds_table').parents(".donation_table").slideDown(300);
                    tablesData[0] = tableToAOA('fundheader', 'fundtable')
                } else {
                    $('#funds_table').parents(".donation_table").slideUp(300);
                    tablesData[0] = []
                }
            });


            $('#gift').change(function () {
                if (this.checked === true) {
                    $('#giftcards_table').parents(".donation_table").slideDown(300);
                    tablesData[1] = tableToAOA('giftcardheader', 'giftcardtable')
                } else {
                    $('#giftcards_table').parents(".donation_table").slideUp(300);
                    tablesData[1] = []
                }
            });


            $('#clothing').change(function () {
                if (this.checked === true) {
                    $('#clothing_table').parents(".donation_table").slideDown(300);
                    tablesData[2] = tableToAOA('clothingheader', 'clothingtable')
                } else {
                    $('#clothing_table').parents(".donation_table").slideUp(300);
                    tablesData[2] = []
                }
            });


            $('#food').change(function () {
                if (this.checked === true) {
                    $('#foods_table').parents(".donation_table").slideDown(300);
                    tablesData[3] = tableToAOA('foodheader', 'foodtable')
                } else {
                    $('#foods_table').parents(".donation_table").slideUp(300);
                    tablesData[3] = []
                }
            });


            $('#misc').change(function () {
                if (this.checked === true) {
                    $('#misc_table').parents(".donation_table").slideDown(300);
                    tablesData[4] = tableToAOA('mischeader', 'misctable')
                } else {
                    $('#misc_table').parents(".donation_table").slideUp(300);
                    tablesData[4] = []
                }
            });

            $('#all').change(function () {
                if (this.checked === true) {
                    $('table').parents(".donation_table").slideDown(300);
                    $("input[type=checkbox].donation_select").prop('checked', true);
                    tablesData[0] = tableToAOA('fundheader', 'fundtable')
                    tablesData[1] = tableToAOA('giftcardheader', 'giftcardtable')
                    tablesData[2] = tableToAOA('clothingheader', 'clothingtable')
                    tablesData[3] = tableToAOA('foodheader', 'foodtable')
                    tablesData[4] = tableToAOA('mischeader', 'misctable')
                } else {
                    {#$('h3').slideUp(300);#}
                    $('table').parents(".donation_table").slideUp(300);
                    $("input[type=checkbox].donation_select").prop('checked', false);
                    tablesData = [[], [], [], [], []]
                }
            });


            {#Handles export feature#}
            $('#export').click(function (e) {
                e.preventDefault()
                const wb = XLSX.utils.book_new();
                wb.Props = {
                    Title: 'Test',
                    Author: 'Sunday Supper',
                    CreateDate: new Date()
                }

                var wscols = [
                    {wch: 20},
                    {wch: 20},
                    {wch: 20},
                    {wch: 20},
                    {wch: 20}
                ];

                const sheetNames = ['Funds', 'Gift Cards', 'Clothing', 'Food', 'Misc.']
                for (var i = 0; i < sheetNames.length; i++) {
                    wb.SheetNames.push(sheetNames[i])
                    wb.Sheets[sheetNames[i]] = XLSX.utils.aoa_to_sheet(tablesData[i])
                    wb.Sheets[sheetNames[i]]['!cols'] = wscols
                }


                const excelFileName = (new Date()).toString()

                const wbOut = XLSX.writeFile(wb, excelFileName + ".xlsx", {bookType: 'xlsx', type: 'binary'})

            })
        });

        let tableToAOA = function (headerId, tableID) {
            let header = [[$('#' + headerId).text()]]

            var tableheader = $('#' + tableID + ' tr').map(function () {
                return [
                    $('th', this).map(function () {
                        return $(this).text();
                    }).get()
                ];
            }).get();

            var tableData = $('#' + tableID + ' tr').map(function () {
                return [
                    $('td', this).map(function () {
                        return $(this).text();
                    }).get()
                ];
            }).get();

            let AoA = header.concat(tableheader.concat(tableData));

            return AoA.filter(function (a) {
                return a.length > 0
            })
        }

        function dateFormat(value, row, index) {
            return moment(value).format('MM/DD/YYYY');
        }
    </script>



{% endblock %}
