{% extends 'users/base.html' %}



{% block content %}


    <form method="post" class="text-center">
        {% csrf_token %}

        {{ form }}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Filter</button>
            </div>
            <div class="col">
                <button id="export" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Export</button>
            </div>
        </div>
    </form>


    <form>
        <fieldset>

            <legend>Show Donation Types:</legend>
            <div class="row">
                <div class="col">
                    <label for="all">Select All:</label>
                    <input class="donation_select m-3" type="checkbox" id="all" name="all" value="All" checked="true">
                </div>


                <div class="col">
                    <label for="fund">Funds:</label>
                    <input class="donation_select m-3" type="checkbox" id="fund" name="fund" value="Funds" checked="true">
                </div>

                <div class="col">
                    <label for="gift">Gift Cards:</label>
                    <input class="donation_select m-3" type="checkbox" id="gift" name="gift" value="Gift" checked="true">
                </div>

                <div class="col">
                    <label for="clothing">Clothing:</label>
                    <input class="donation_select m-3" type="checkbox" id="clothing" name="clothing" value="Clothing"
                        checked="true">
                </div>

                <div class="col">
                    <label for="food">Food:</label>
                    <input class="donation_select m-3" type="checkbox" id="food" name="food" value="Food" checked="true">
                </div>

                <div class="col">
                    <label for="misc">Miscellaneous:</label>
                    <input class="donation_select m-3" type="checkbox" id="misc" name="misc" value="Misc" checked="true">
                </div>
            </div>

        </fieldset>
    </form>


    <h1 class="mb-5 mt-5 text-center">Donations</h1>

    <h3 id="fundheader" class="mb-3 mt-5 text-left"> Funds</h3>


    <table id="fundtable" class="table table-striped table-bordered" data-filter-control="true"
           data-show-search-clear-button="false" style="width:100%">

        <thead>
        <tr>
            <th data-field="fname" data-filter-control="input">First Name</th>
            <th data-field="lname" data-filter-control="input">Last Name</th>
            <th data-field="date" data-filter-control="input">Date Received</th>
            <th data-field="type" data-filter-control="select">Type</th>
            <th data-field="amount" data-filter-control="input">Amount</th>
            <th data-field="quantity" data-filter-control="input">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for fund in funds %}
            <tr>
                <td>{{ fund.first_name.title }}</td>
                <td>{{ fund.last_name.title }}</td>
                <td>{{ fund.date_received }}</td>
                <td>{{ fund.type.title }}</td>
                <td>${{ fund.amount }}</td>
                <td>{{ fund.quantity }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>


    <h3 id="giftcardheader" class="mb-3 mt-5 text-left">Gift Cards</h3>

    <table id="giftcardtable" class="table table-striped table-bordered" data-filter-control="true"
           data-show-search-clear-button="false" style="width:100%">


        <thead>
        <tr>
            <th data-field="fname" data-filter-control="input">First Name</th>
            <th data-field="lname" data-filter-control="input">Last Name</th>
            <th data-field="date" data-filter-control="input">Date Received</th>
            <th data-field="type" data-filter-control="select">Business Name</th>
            <th data-field="amount" data-filter-control="input">Amount</th>
            <th data-field="quantity" data-filter-control="input">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for giftcard in giftcards %}
            <tr>
                <td>{{ giftcard.first_name.title }}</td>
                <td>{{ giftcard.last_name.title }}</td>
                <td>{{ giftcard.date_received }}</td>
                <td>{{ giftcard.business_name }}</td>
                <td>${{ giftcard.amount }}</td>
                <td>{{ giftcard.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3 id="clothingheader" class="mb-3 mt-5 text-left">Clothing</h3>

    <table id="clothingtable" class="table table-striped table-bordered" data-filter-control="true"
           data-show-search-clear-button="false" style="width:100%">

        <thead>
        <tr>
            <th data-field="fname" data-filter-control="input">First Name</th>
            <th data-field="lname" data-filter-control="input">Last Name</th>
            <th data-field="date" data-filter-control="input">Date Received</th>
            <th data-field="type" data-filter-control="select">Type</th>
            <th data-field="quantity" data-filter-control="input">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for cloth in clothing %}
            <tr>
                <td>{{ cloth.first_name.title }}</td>
                <td>{{ cloth.last_name.title }}</td>
                <td>{{ cloth.date_received }}</td>
                <td>{{ cloth.type.title }}</td>
                <td>{{ cloth.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Received</th>
            <th>Type</th>
            <th>Quantity</th>
        </tr>
        </tfoot>
    </table>


    <h3 id="foodheader" class="mb-3 mt-5 tex-left">Foods</h3>

    <table id="foodtable" class="table table-striped table-bordered" data-filter-control="true"
           data-show-search-clear-button="false" style="width:100%">


        <thead>
        <tr>
            <th data-field="fname" data-filter-control="input">First Name</th>
            <th data-field="lname" data-filter-control="input">Last Name</th>
            <th data-field="date" data-filter-control="input">Date Received</th>
            <th data-field="type" data-filter-control="select">Type</th>
            <th data-field="quantity" data-filter-control="input">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                <td>{{ food.first_name.title }}</td>
                <td>{{ food.last_name.title }}</td>
                <td>{{ food.date_received }}</td>
                <td>{{ food.name.title }}</td>
                <td>{{ food.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <h3 id="mischeader" class="mb-3 mt-5 text-left">Miscellaneous</h3>

    <table id="misctable" class="table table-striped table-bordered" data-filter-control="true"
           data-show-search-clear-button="false" style="width:100%">


        <thead>
        <tr>
            <th data-field="fname" data-filter-control="input">First Name</th>
            <th data-field="lname" data-filter-control="input">Last Name</th>
            <th data-field="date" data-filter-control="input">Date Received</th>
            <th data-field="type" data-filter-control="select">Type</th>
            <th data-field="quantity" data-filter-control="input">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for misc in miscellaneous %}
            <tr>
                <td>{{ misc.first_name.title }}</td>
                <td>{{ misc.last_name.title }}</td>
                <td>{{ misc.date_received }}</td>
                <td>{{ misc.misc_name.title }}</td>
                <td>{{ misc.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script type="text/javascript">


        $(document).ready(function () {

            let tablesData = [[], [], [], [], []]


            $('#fund').change(function () {
                if (this.checked === true) {
                    $('#fundheader').slideDown(300);
                    $('#fundtable').slideDown(300);
                    tablesData[0] = tableToAOA('fundheader', 'fundtable')
                } else {
                    $('#fundheader').slideUp(300);
                    $('#fundtable').slideUp(300);
                    tablesData[0] = []
                }
            });


            $('#gift').change(function () {

                if (this.checked === true) {
                    $('#giftcardheader').slideDown(300);
                    $('#giftcardtable').slideDown(300);
                    tablesData[1] = tableToAOA('giftcardheader', 'giftcardtable')
                } else {
                    $('#giftcardheader').slideUp(300);
                    $('#giftcardtable').slideUp(300);
                    tablesData[1] = []
                }
            });


            $('#clothing').change(function () {
                if (this.checked === true) {
                    $('#clothingheader').slideDown(300);
                    $('#clothingtable').slideDown(300);
                    tablesData[2] = tableToAOA('clothingheader', 'clothingtable')
                } else {
                    $('#clothingheader').slideUp(300);
                    $('#clothingtable').slideUp(300);
                    tablesData[2] = []
                }
            });


            $('#food').change(function () {
                if (this.checked === true) {
                    $('#foodheader').slideDown(300);
                    $('#foodtable').slideDown(300);
                    tablesData[3] = tableToAOA('foodheader', 'foodtable')
                } else {
                    $('#foodheader').slideUp(300);
                    $('#foodtable').slideUp(300);
                    tablesData[3] = []
                }
            });


            $('#misc').change(function () {
                if (this.checked === true) {
                    $('#mischeader').slideDown(300);
                    $('#misctable').slideDown(300);
                    tablesData[4] = tableToAOA('mischeader', 'misctable')
                } else {
                    $('#mischeader').slideUp(300);
                    $('#misctable').slideUp(300);
                    tablesData[4] = []
                }
            });


            $('#all').change(function () {
                if (this.checked === true) {
                    $('h3').slideDown(300);
                    $('table').slideDown(300);
                    $("input[type=checkbox].donation_select").prop('checked', true);
                    tablesData[0] = tableToAOA('fundheader', 'fundtable')
                    tablesData[1] = tableToAOA('giftcardheader', 'giftcardtable')
                    tablesData[2] = tableToAOA('clothingheader', 'clothingtable')
                    tablesData[3] = tableToAOA('foodheader', 'foodtable')
                    tablesData[4] = tableToAOA('mischeader', 'misctable')
                } else {
                    $('h3').slideUp(300);
                    $('table').slideUp(300);
                    $("input[type=checkbox].donation_select").prop('checked', false);
                    tablesData = [[], [], [], [], []]
                }
            });


            {#Handles export feature#}
            $('#export').click(function () {
                const wb = XLSX.utils.book_new();
                wb.Props = {
                    Title: 'Test',
                    Author: 'Sunday Supper',
                    CreateDate: new Date()
                }

                const sheetNames = ['Funds', 'Gift Cards', 'Clothing', 'Food', 'Misc.']
                for (var i = 0; i < sheetNames.length; i++) {
                    wb.SheetNames.push(sheetNames[i])
                    wb.Sheets[sheetNames[i]] = XLSX.utils.aoa_to_sheet(tablesData[i])
                }

                const excelFileName = (new Date()).toString()

                const wbOut = XLSX.writeFile(wb, excelFileName + ".xlsx", {bookType: 'xlsx', type: 'binary'})

            })
        });

        let tableToAOA = function (headerId, tableID) {
            let header = [[$('#' + headerId).text()]]

            var tableheader = $('#' + tableID + ' tr').map(function () {
                return [
                    $('th', this).map(function () {
                        return $(this).text();
                    }).get()
                ];
            }).get();

            var tableData = $('#' + tableID + ' tr').map(function () {
                return [
                    $('td', this).map(function () {
                        return $(this).text();
                    }).get()
                ];
            }).get();

            let AoA = header.concat(tableheader.concat(tableData));
            return AoA
        }


    </script>

    <script>
        $(function () {
            $('#fundtable').bootstrapTable()
            $('#clothingtable').bootstrapTable()
            $('#giftcardtable').bootstrapTable()
            $('#foodtable').bootstrapTable()
            $('#misctable').bootstrapTable()
        })
    </script>


{% endblock %}