{% extends 'users/base.html' %}

{% block content %}
    <form method="post" class="text-center">
        {% csrf_token %}

        {% include 'users/msg.html' %}
        <div class="alert alert-success fade in text-center" role="alert" style="display: none" id="success_message">
            Copied
        </div>

        {% if form %}
            <div class="input-group">
                <label for="expiration_period" style="padding-right: 10px;">Days to expire: </label>
                <input type="number" name="expiration_period" id="expiration_period" value="7" max="20" min="1">
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Create</button>

    </form>
    {% if token %}
        <p id="generated_link" style="font-size: 18pt;">{{ token }}</p>

        <button onclick="copyLink()" id="copy_button" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Copy
            link
        </button>

    {% endif %}


    <script>
        $("#success_message").hide()
        
        function copyLink() {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#generated_link").text()).select();
            document.execCommand("copy");
            $temp.remove();
            $("#res").text("Copied");
            $("#success_message").slideDown().delay(5000).slideUp();
        }
    </script>
{% endblock %}