{% extends 'users/base.html' %}

{% block content %}
    <form method="post" class="text-center">
        {% csrf_token %}
        {% if form %}
            {{ form }}
        {% endif %}
        {% if token %}
            <a id="generated_link" style="font-size: 18pt;" onclick="copyLink($(this))" onmouseout="outFunc()"
               href="#">{{ token }}</a>

        {% endif %}
        <button type="submit" class="btn btn-primary btn-lg center-block mt-3 mb-5 w-25">Create</button>

    </form>



    <script>
        function copyLink(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }

        function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
{% endblock %}