{% extends 'users/base.html' %}

{% block content %}
    <style>

        .wrapperX{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
        }
        .wrapperX> div{
            background: #eee;
            padding: 1em;
        }
        .wrapperX > div:nth-child(odd){
            background: #ddd;
        }

        .wrapperY{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1em;
        }

        .wrapperY> div{
            background: #eee;
            padding: 1em;
        }
        .wrapperY > div:nth-child(odd){
            background: #ddd;
        }

        .donationSubWrapper > div{
            background: #eee;
        }

        .itemAttribSubWrapper{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr;
        }

    </style>
    <div class="donar-info-form">
        <form method="post">
            {% csrf_token %}
            <h2>YEWWW</h2>
            <hr>
            <div class="wrapperX">

                <div>
                    <h3>Donation Infomation</h3>
                    {{ donar_form }}
                </div>

                <div>
                    <h3>Items</h3>
                    <div class="itemAttribSubWrapper">
                    {% for field in item_form  %}
                        <div >
                            {{ field.label_tag }} {{ field }} 
                        </div>
                    {% endfor %}
                    </div>
                </div>
                
                <div class="wrapperX">
                    <div>
                        <h3>Donation Infomation</h3>
                        <div class="wrapperY">
                            <div class="wrapperX">
                                <span>
                                    {{donation_info_form.date_received.label}}
                                    {{donation_info_form.date_received}}
                                </span>
                                <span>
                                    <div>{{donation_info_form.thanks_sent.label}}</div>
                                    <div>{{donation_info_form.thanks_sent}}</div>
                                </span>
                            </div>
                            <span>
                                {{donation_info_form.comment.label}}
                                {{donation_info_form.comment}}
                            </span>
                        </div>
                    </div>

                    <div>
                        <h3>Funds</h3>
                        <div class="wrapperY">
                            <span>
                                {{funds_form.type.label}}
                                {{funds_form.type}}
                            </span>
                            <span>
                                {{funds_form.amount.label}}
                                {{funds_form.amount}}
                            </span>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg center-block mt-3 w-25">Enter</button>
                </div>

            </div>
            
        </form>
    </div>

{% endblock %}