{% extends 'users/base.html' %}

{% block content %}
    <style>

        .wrapperX {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
        }

        .wrapperX > div {
            background: #eee;
            padding: 1em;
        }

        .wrapperX > div:nth-child(odd) {
            background: #ddd;
        }

        .wrapperY {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1em;
        }

        .wrapperY > div {
            background: #eee;
            padding: 1em;
        }

        .wrapperY > div:nth-child(odd) {
            background: #ddd;
        }

        .donationSubWrapper > div {
            background: #eee;
        }

        .itemAttribSubWrapper {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr;
        }

        .anonymous {
            padding: 10px;
        }

        #message {
            font-size: 15pt;
            padding: 15px;
            text-align: center;
        }

        {#*{transition: height 0.1s ease;}#}

    </style>
    <div class="donor-info-form">
        <form method="post" onsubmit="return submit_form()">
            {% csrf_token %}
            <h2>YEWWW</h2>
            <hr>

            <input type="checkbox" id="anonymous" name="anonymous" class="anonymous" onclick="anonymousToggle()">
            <label for="anonymous" class="anonymous">Anonymous Donor</label>
            <hr>

            <div class="wrapperX">

                <div class="wrapperY">
                    <div id="donor_form">
                        <h3>Donation Infomation</h3>
                        <div class="wrapperX">
                            <span>
                                <b>{{ donor_form.first_name.label }}</b>
                                {{ donor_form.first_name }}
                            </span>
                            <span>
                                <b>{{ donor_form.last_name.label }}</b>
                                {{ donor_form.last_name }}
                            </span>
                        </div>
                        <div style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 1em;">
                            <span>
                                <b>{{ donor_form.email.label }}</b>
                                {{ donor_form.email }}
                            </span>
                            <span>
                                <b>{{ donor_form.dob.label }}</b>
                                {{ donor_form.dob }}
                            </span>
                        </div>
                        <div class="wrapperX">
                            <span>
                                <b>{{ donor_form.address1.label }}</b>
                                {{ donor_form.address1 }}
                            </span>
                            <span>
                                <b>{{ donor_form.address2.label }}</b>
                                {{ donor_form.address2 }}
                            </span>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 1em;">
                            <span>
                                <b>{{ donor_form.city.label }}</b>
                                {{ donor_form.city }}
                            </span>
                            <span>
                                <b>{{ donor_form.state.label }}</b>
                                <select name="state" id="id_state" class="form-control">
                                    <option value="" disabled selected>State</option>
                                    {% for state,abr in states.items %}
                                        <option value="{{ abr }}">{{ state.title }}</option>
                                    {% endfor %}
                                </select>
{#                                {{ donor_form.state }}#}
                            </span>
                            <span>
                                <b>{{ donor_form.zip.label }}</b>
                                {{ donor_form.zip }}
                            </span>
                        </div>
                    </div>
                    <div class="wrapperX">
                        <div id="donation_form">
                            <h3>Donation Infomation</h3>
                            <div>
                                <div class="wrapperX">
                                    <span>
                                    <b>{{ donation_info_form.date_received.label }}</b>
                                        {{ donation_info_form.date_received }}
                                    </span>
                                    <span>
                                        <div><b>{{ donation_info_form.thanks_sent.label }}</b></div>
                                        <div>{{ donation_info_form.thanks_sent }}</div>
                                    </span>
                                </div>
                                <span>
                                    <b>{{ donation_info_form.comment.label }}</b>
                                    {{ donation_info_form.comment }}
                                </span>
                            </div>
                        </div>

                        <div id="funds_form">
                            <h3>Funds</h3>
                            <div class="wrapperY">
                                <span>
                                    <b>{{ funds_form.type.label }}</b>
                                    {{ funds_form.type }}
                                </span>
                                <span>
                                    <b>{{ funds_form.amount.label }}</b>
                                    {{ funds_form.amount }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: grid; grid-template-rows: 4fr 1fr; grid-gap: 1em;">
                    <div id="items_form">
                        <h3>Items</h3>
                        <div class="itemAttribSubWrapper">
                            {% for field in item_form %}
                                <div>
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="wrapperX">
                        <div>
                            <button class="btn btn-primary btn-lg center-block mt-3 w-22" id="clear_fields">
                                Clear
                            </button>
                            <div id="clear" class=""></div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg center-block mt-3 w-22">Enter</button>
                            <div id="message" class=""></div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <script type="text/javascript">
        function anonymousToggle() {
            $("#donor_form").slideToggle(300);
            {#const donor_form = document.getElementById("donor_form")#}
            {#if (document.getElementById("anonymous").checked === true) {#}
            {#    $("#donor_form").toggle(200);#}
            {#donor_form.style.display = "none"#}
            {# else #}
            {#    $("#donor_form").toggle(200);#}
            {#donor_form.style.display = "block"#}
            {##}
        }

        function items_completed() {
            return document.querySelector("#items_form #id_type").selectedIndex !== -1 && document.querySelector("#items_form #id_quantity").value !== '' && document.getElementById("id_name").selectedIndex !== -1
        }

        function funds_completed() {
            return document.querySelector("#funds_form #id_type").selectedIndex !== -1 && document.querySelector("#funds_form #id_amount").value !== ''
        }

        function donation_information_completed() {
            return document.querySelector("#donation_form #id_amount").value !== '' && document.querySelector("#donation_form #id_date_received").value !== '';
        }


        function submit_form() {
            return true;
            if ((items_completed() || funds_completed()) && document.getElementById("anonymous").checked === true) {
                return true;
            } else {
                {#TODO: Enhance error messages#}
                document.querySelector("#message").innerHTML = "Please make sure to fill up required fields";
                return false;
            }
        }


        $("#clear_fields").click(function (e) {
            e.preventDefault();
            $(this).closest('form').find("input, textarea").val("");
            $("#id_state option:eq(0)").prop('selected', true);
        });

    </script>

{% endblock %}